<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <script src="/scripts/p5.min.js"></script>
  <script type="module" src="/js/main.js"></script>
  

</head>
<body>
  <%- include('partials/header') %>

<secion class="main-content" style="padding-top: 0;">
</secion>

<main class="main-content">
  <section class="personal-gallery">
    
    <% images.forEach(image => { %>


        <div class="personal-gallery__item">
          <img src="/images/personal-gallery/<%= image %>" alt="<%= image %>">
          <p><%= image %></p>
        </div>
      <% }) %>
</section>
</main>

  <%- include("partials/footer") %>
</body>
</html>