<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= project.title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="/style.css">
    

</head>
<body>

  
    <%- include('partials/header') %>
    

    <main class="main-content project-page">
      <section class="project-page__hero">
        <h2><%= project.headline %></h2>
        <p><%- project.description %></p>
               <div class="card__tags">
        <% project.tags.forEach((tag, i) => { %>
          <span class="tag"><%= tag %></span>
        <% }) %>
      </div>
     
        </section>
        <hr style="max-width:1200px"></hr>
<section class="project-page">

  <% project.blocks.forEach(block => { %>


    <% /* TEXT BLOCK */ %>
    <% if (block.type === "text") { %>
      <p class="block block--text">
        <%- block.content %>
      </p>
    <% } %>

    <% /* IMAGE GROUP BLOCK */ %>
    <% if (block.type === "image") { %>
      <% 
        let sizeClass = "image--medium";
        if (block.size === "small") sizeClass = "image--small";
        if (block.size === "large") sizeClass = "image--large";
      %>

      <div class="block <%= sizeClass %>">
        <% block.images.forEach(img => { %>
          <img
            src="<%= img.src %>"
            style="flex-grow: <%= img.grow || 1 %>;"
            loading="lazy"
          >
        <% }) %>
      </div>
    <% } %>

    <% /* CUSTOM HTML BLOCK */ %>
    <% if (block.type === "custom") { %>
      <div class="block--custom">
        <%- block.content %>
      </div>
    <% } %>

  <% }) %>
</section>
        
    </main>
    <div class="cursor"></div>
    <%- include('partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/@panzoom/panzoom/dist/panzoom.min.js"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="/js/storyGrid.js"></script>
<script src="/js/main.js"></script>
<script src="/js/panzoom-init.js"></script>
</body>
</html>


